.quienes-somos-container {
  background-color:#5B9279;
}

.quienes-somos-container img {
  border-radius: 15px;
  display: block;
  width: 600px;

  margin: auto;
}

.quienes-somos-container .h-resaltado {
  color: #12130F;
  font-size: 3rem;
  margin-top: 10px;
}

.quienes-somos-container article,
h3.h-resaltado {
  margin: 20px;
  text-align: center;
}



.quienes-somos-container h3.h-resaltado {
  display: inline-block;
  width: 300px;
  background-color: #EAE6E5;
  color: #12130F;
  font-size: 36px;
  padding: 5px;
  border-radius: 5px;
}

.quienes-somos-container h3.h-resaltado:hover {
  color: #5B9279;
}
