div.container3 {
  background-color: #5b9279;
  height: 100%;
  width: 100%;
  padding: 1%;
  padding: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Jersey 25", sans-serif;
  padding-top: 3%;
  font-size: 40px;
}

table {
  border: 8px;
  border-color: #eae6e5;
  float: none;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  border-style: round;
}

td {
  padding-top: 2px;
  background-color: #eae6e5;
  text-align: center;
}

.esquema {
  padding-top: 2%;
  padding-bottom: 2px;
}
/* no se porque no me esta cogiendo este estilo*/
td.titulo {
  color: #12130f;
  font-size: larger;
  text-transform: uppercase;
  background-color: #8fcb9b;
}
